<div class="menu_page">
    <h3> Menu </h3>
    <h5>Starters</h5>
    <table>
        <tr *ngFor="let starter of menu.starters">
            <td class="left">{{starter.name}}</td>
            <td class="right">{{starter.price | currency:'€'}}</td>
        </tr>
    </table>
     <h5>Main Courses</h5>
    <table>
        <tr *ngFor="let main of menu.dinners">
            <td class="left">{{main.name}}</td>
            <td class="right">{{main.price | currency:'€'}}</td>
        </tr>
    </table>
     <h5>Deserts</h5>
    <table>
        <tr *ngFor="let desert of menu.deserts">
            <td class="left">{{desert.name}}</td>
            <td class="right">{{desert.price | currency:'€'}}</td>
        </tr>
    </table>
     <h5>Drinks</h5>
    <table>
        <tr *ngFor="let drink of menu.drinks">
            <td class="left">{{drink.name}}</td>
            <td class="right">{{drink.price | currency:'€'}}</td>
        </tr>
    </table>
</div>