<div class="contact_page">
    <form>
        <div>
            <label>Name:</label>
            <input type="text" placeholder="your name">
        </div>
        <div>
            <label>Email:</label>
            <input type="email" placeholder="your email address">
        </div>
        <div>
            <label>Message:</label>
        </div>
        <div>
            <textarea rows="4" cols="50"></textarea>
        </div>
        <div>
            <input type="button" value="Submit">
            <input type="reset" value="Clear">
        </div>
    </form>
</div>