.home_page{
    margin-top: -5%;
    z-index: -30;
    background-color:azure;
}

.home_page .slideShow
{
    height: 400px;
    overflow: hidden;
}

.home_page .slideShow #myCarousel .carousel-inner .active .carousel-caption{
    margin-bottom: 200px;
    background-color:antiquewhite;
    color:chocolate;
    font-family: 'Vollkorn SC', serif;
    font-style: italic;
    border-top-right-radius: 20px;
}

.container .row{
    width: 70%;
    margin: 60px auto;
}


.container .row .col-centered .designer{
    width: 150%;
    height: 450px;
    text-align:left;
    margin: 0 auto;
}

.container .row .col-centered .designer h4{
    font-family: 'Vollkorn SC', serif;
    font-style: italic;
    color: chocolate;
    text-align: center;
    font-size: 2.5em;
}



.container .row .col-centered .designer p:first-letter{
    font-family: 'Vollkorn SC', serif;
    color: chocolate;
    font-weight: 400;
    font-size: 3em;
    margin-left: 5%;
    margin-top: 6%;
}

.container .row .col-centered .designer p{
    font-family: 'Vollkorn SC', serif;
    color: black;
    
    font-size: 1.5em;
}

.container .row .col-centered .designer #sign{
    font-family: 'Pacifico', cursive;
    text-decoration: underline;
}

.container .row .col-centered .designer img{
    margin-top: -24%;
    margin-left: 39%;
    width: 90%;
}