<div class="restaurantWrapper">
    <div class="left_info">
        <h2>{{restaurant.name}}</h2>
        <div class ="rest_info">
            <p>Address : {{restaurant.address}}, {{restaurant.town}}, </p>
            <p>Phone : {{restaurant.phone}}</p>
            <p>Cuisine type : {{restaurant.cuisineType}}</p>
            <p>Rating : {{restaurant.score}}</p>
            <p>Average item price {{restaurant.menu.menuAvg}}</p>
        </div>
            <menu_display [menu]="restaurant.menu"></menu_display>
    
        <div class="reviews">
            <review_pane [restaurant] = "restaurant"></review_pane>
        </div>
    </div>
    <div class="right_info">
       <img src="../../images/restaurants/{{restaurant.id}}.jpg" alt ="{{restaurant.name}}"> 
        <div class="opening_times">
            <h3>Opening times</h3>
            <div *ngFor="let opening of restaurant.openingTimes">{{opening}}</div>
        </div>
    </div>
    <div class="clear"></div>
</div>