.restaurant_list
{
    font-family: 'Vollkorn SC', serif;
}

.restaurant_list h2
{
    text-align: center;
}

.rest_list .restaurant_list_info 
{
    float: left;
    width: 75%;
    height: 220px;
}

.restaurant_list .rest_list .restaurant_list_info img
{
    margin: 2px 2px;
    width: 30%;
    border: 2px solid black;
 
}

.restaurant_list .rest_list .restaurant_list_info .info_pane
{
    display: inline;
    float: right;
    width: 38%;
    margin-top: 2%;
    margin-right: 20%;
    margin-left: 10%;
    font-size: 1.5em;
}

.restaurant_list .rest_list .restaurant_list_info .info_pane a
{
    color: black;
}

.restaurant_list .rest_list .restaurant_list_info .info_pane a:hover
{
    color: chocolate;
}

.restaurant_list .rest_list .restaurant_list_info
{
    border: 2px solid black;
    border-radius: 5pxx;
    background-color: antiquewhite;
    margin-left: 10%;
    margin-right: 10%;
}



.restaurant_list .right_side
{
    float: right;
    width: 25%;
    font-size: 1.5em;
}

.restaurant_list .town_list{
    margin-right: 5%;
    background-color: black;
    font-family: 'Vollkorn SC', serif;
    color: antiquewhite;
    width: 80%;
    margin-top: 20%;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
        
}

.restaurant_list .town_list a{
   color: antiquewhite;
        
}

.restaurant_list .filter_options
{
    margin-top: 10px;
    border: 2px solid black;
    padding: 5px;
    border-radius: 5px;
    color: black;
}

.restaurant_list .filter_options a
{
    color: black;
    cursor: pointer;
    margin-left: 15px;
}

.restaurant_list .filter_options .button
{
    margin: 20px auto;
}

.restaurant_list .town_list a:hover{
    color: chocolate;
    cursor: pointer;
}

.clear{
    clear: both;
    margin-bottom: 30px;
}