.restaurant_list_info{
    width: 600px;
    margin-left: 50px;
}

.restaurant_list_info tr{
    background-color: aquamarine;
}

.restaurant_list_info img{
    width: 120px;
    height: 120px;
    float: left;
}

.restaurant_list_info .info_pane{
    float: left;
    margin-left: 30px;
} 

.clear{
    clear: both;
    margin-bottom: 30px;
}