<div class="restaurant_list">
    
    <h2>Restaurants in {{countyChoice}}</h2>

    <div class="right_side">
        <div class="town_list">
            <h2>Towns</h2>
            <div>
                <a (click) ="filterByTown('any')">Any</a>
            </div>
            <div *ngFor="let t of towns">
                <a (click) ="filterByTown(t)">{{t}}</a>
            </div>
        </div>

        <div class="filter_options">
            <h2>Filter Options</h2>
            Town 
            <br> 
            <input type="text" placeholder="Enter your town" [(ngModel)]="townChoice">
            Restaurant Types
            <br>
            <div class="foodtypes">
                <div *ngFor="let food of foodTypes">
                    <a (click)="filterByFoodType(food)">{{food}}</a>
                </div>
            </div>
            Rating : 
            <br>
            <input type="number" min="0" max="5" [(ngModel)]="rating">
            <br>
            <div class="button">
                 <button (click)= "filter(townChoice, rating)">Filter</button>
                <button (click)= "clear()">Clear</button>
            </div>
        </div>
    </div>
    
    <div class="rest_list">
        <table>
            <tr *ngFor="let rest of restaurants">
                <div class="restaurant_list_info" >
                    <img src="../../images/restaurants/{{rest.id}}.jpg" alt="{{rest.name}">
                    <div class="info_pane">
                        <a [routerLink]="['/restaurant', rest.id]">{{rest.name}}</a>
                            <p>{{rest.address}}, {{rest.town}}</p>
                            <p>{{rest.phone}}</p>
                        
                        <review [restaurant] = "rest"></review>
                    </div>
                </div>
                <div class="clear"></div>
            </tr>
        </table>
    </div>
    
</div>