.navbar{
    font-family: 'Vollkorn SC', serif;
    color: black;
    margin-bottom: 5%;
    font-size: 2rem;
}

.navbar .sign{
    font-family: 'Pacifico', cursive;
    font-size:2.9em;
}

.nav_bar .nav_section{
    float: right;
}

